@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Uncial+Antiqua&display=swap');

body {
  font-family: 'Lora', serif;
}

.fancy-font {
  font-family: 'Uncial Antiqua', serif;
}

.no-underline {
  text-decoration: none;
}
